.container{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

h2{
    text-align: center;
}

input, button{
    padding: 10px ;
    width: 300px;
    margin: 10px 0;
}

button{
    width: 100%;
    background-color: rgb(116, 116, 245);
    border: none;
}
